.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container .input-box {
  min-width: 400px;
  padding: 10px;
  margin-right: 20px;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
}

.container .btn {
  background-color: #d3d3f3;
  border: 0px;
  padding: 10px;
  min-width: 100px;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}
